.nav {
  position: fixed;
  min-width: 296px;
  min-height: 100vh;
}
.main {
  margin-left: 296px;
}
.material-icons {
  vertical-align: middle;
  cursor: pointer;
}
.nav-link.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 32px;
  border-left: 4px solid #198754;
}
.avatar {
  width: 40px;
  height: 40px;
}
.fz-14 {
  font-size: 14px;
}
.view-userModal img {
  width: 141px;
  height: 141px;
}
.modal-header-button button {
  position: absolute;
  top: 34px;
  right: 25px;
  z-index: 10;
}
.user-img {
  background: url('../../../assets/images/emir.jpeg') no-repeat center;
  width: 141px;
  height: 141px;
  background-size: cover;
}
.expand_more {
  display: none;
}
.expand_less {
  display: inline-block;
}
.collapsed .expand_more {
  display: inline-block;
}
.collapsed .expand_less {
  display: none;
}